<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Task</title>
  <link rel="stylesheet" href="styles.css">
  <script src="create-task.js"></script>
</head>
<body>

    <h2>Create Task:</h2><br><br>
    <form action="create-task" method="POST">
      <label for="title">Task Title:</label><br>
      <input type="text" id="title" name="title"><br>
      <label for="description">Description:</label><br>
      <input type="text" id="description" name="description"><br>
      <label for="due_date">Due Date:</label><br>
      <input type="date" id="due_date" name="due_date"><br>
      <label for="assigned_to">Assign To:</label><br>
      <input type="text" id="assigned_to" name="assigned_to"><br>
      <label for="employee_email">Employee Email:</label><br>
      <input type="email" id="employee_email" name="employee_email"><br>
      <label for="notes">Notes:</label><br>
      <input type="text" id="notes" name="notes"><br>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>


  
</body>
</html>
