<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Login page for QuickTask</title>
    <script src="index.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="content">
    <h1 class="title">Welcome to QuickTask</h1>
    <div class="nav">
        <%- nav %> 
    </div><br><br>
    <form action="/login" method="post" class="login-form">
        <label for="username">Select User:</label>
        <input type="text" id="username" name="username"></input>
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/accountForm.html">Create Account</a></p>
</div>
</body>
</html>
