<!-- nav.ejs -->
        <nav>
            <a href="tasks">Task List</a>
            <a href="view-task.js">View Task</a>
            <a href="create-task">Create Task</a>
            <a href="accountForm.html">Create Account</a>
            <a href="completed">Completed Tasks</a>
        </nav>




